{% extends 'admin-layout.twig' %}

{% block content %}

<div class="container">
    <div class="admin-login row">
		<h2>Password change</h2>
		{% if error %}
			<div class="alert alert-danger">
				<strong>Error!</strong> {{ error }}.
			</div>
		{% endif %}
		<form id="change-password" role="form" action="/admin/change-password" method="POST">
		  <div class="form-group">
		    <label for="pwd">Old password:</label>
		    <input type="password" name="oldPass" class="form-control data" id="pwd">
		  </div>
		  <div class="form-group">
		    <label for="pwd">New password:</label>
		    <input type="password" name="newPass" class="form-control data" id="pwd">
		  </div>
		  <div class="form-group">
		    <label for="pwd">Repeat password:</label>
		    <input type="password" name="newPassRepeat" class="form-control data" id="pwd">
		  </div>
		  <button type="submit" class="btn btn-primary">Change</button>
		</form>
	</div>
</div>

{% endblock %}