
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Edit articles
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    {{#each cols}}
      <li><a href="/admin/show-data/{{ this }}">{{this}}</a></li>
    {{/each}}
  </ul>
</div>
