<div class="admin-login row">
	<h2 class="col-sm-12">Register - Admin</h2>
	{{# if error }}
		<div class="alert alert-danger col-sm-12">
			<strong>Error!</strong> {{ error }}.
		</div>
	{{/if}}
	<form role="form" action="/admin/login" method="POST">
	  <div class="form-group col-sm-12">
	    <label for="email">Email address:</label>
	    <input type="email" name="email" class="form-control" id="email">
	  </div>
	  <div class="form-group col-sm-12">
	    <label for="email">Display name:</label>
	    <input type="name" name="name" class="form-control" id="name">
	  </div>
	  <div class="form-group col-sm-6">
	    <label for="pwd">Password:</label>
	    <input type="password" name="password" class="form-control" id="pwd">
	  </div>
	  <div class="form-group col-sm-6">
	    <label for="pwd">Repeat password:</label>
	    <input type="password" name="repeatPassword" class="form-control" id="pwd">
	  </div>
	  <div class="checkbox col-sm-6">
	    <label><input type="checkbox"> Remember me</label>
	  </div>
	  <div class="col-sm-12">
	  	<button type="submit" class="btn btn-default">Sign up</button>
	  </div>
	  <div class="col-sm-12">
	  	<span class="">Already have account? <a href="/login">Sign in</a></span>
	  </div>
	</form>
	<span class="col-sm-6">Back to <a href="/">Cinema</a></span>
</div>
