html, body{
	height: 100%;
}

.wraper{
	min-height: 100%;
	position: relative;
}

.content{
	padding-bottom: 110px
}

footer{
	margin: 0 !important;
	height:90px;
	padding: 30px 0px;
	background-color: #f3f3f3;
	border-top: 1px solid #ddd;
	width:100%;
	bottom:0px;
	position: absolute;
	p{
		text-align: center;
	}
}

// just some helper styles

.capitalise{
	text-transform: capitalize;
}

.align-right{
	text-align: right
}
.ml-20 {
	margin-left: 20px;
}
.mr-20 {
	margin-right: 20px;
}
.mt-20 {
	margin-top: 20px;
}
.mb-20 {
	margin-bottom: 20px;
}
.extraBig {
	font-size: 10em;
}